<div class="content">
    <?php 
    View::content() 
    ?>
    <h3>Menu</h3>
	
	<label>Ejemplo FOR:</label>
	<?php
	    for ($i = 1; $i <= 10; $i++) {
	    	echo $i;
		}
	?>
	<br>
	<label>El botón con mayor número de clicks es:</label>
	<script language=JavaScript>
		var numeroClicks1 = 45;
		var numeroClicks2 = 234;
		var numeroClicks3 = 4;
		var numeroClicks4 = 2300;
		var numeroClicks5 = 43;

		function contador_onclick1() {
		   numeroClicks1++;
		   window.document.form1.ButtonFacebook.value = 'Botón Facebook pulsado ' + numeroClicks1 + 
		   ' veces';
		}

		function contador_onclick2() {
		   numeroClicks2++;
		   window.document.form2.ButtonTwitter.value = 'Botón Twitter pulsado ' + numeroClicks2 + 
		   ' veces';
		}

		function contador_onclick3() {
		   numeroClicks3++;
		   window.document.form3.ButtonYoutube.value = 'Botón Youtube pulsado ' + numeroClicks3 + 
		   ' veces';
		}

		function contador_onclick4() {
		   numeroClicks4++;
		   window.document.form4.ButtonLinkedIn.value = 'Botón LinkedIn pulsado ' + numeroClicks4 + 
		   ' veces';
		}

		function contador_onclick5() {
		   numeroClicks5++;
		   window.document.form5.ButtonInstagram.value = 'Botón Instagram pulsado ' + numeroClicks5 + 
		   ' veces';
		}

			var arreglo  = [numeroClicks1, numeroClicks2, numeroClicks3, numeroClicks4, numeroClicks5];
				maximo = 0;
				 
			for(var i=0,len=arreglo .length;i<len;i++){
				if(maximo < arreglo [i]){
				    maximo = arreglo [i];
				}
			}

			document.write(maximo);

			window.document.form6.ButtonMax.value = 'Botón Maximo tiene ' + document.write(maximo) + 
		   ' clicks';
			

		</script>

	</script>
	<br>
	<label>Ejemplo Contador Clicks:</label>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style>
	.w3-button {width:280px;}
	</style>
	
	<div class="w3-container">

		<FORM NAME=form1>
		   <INPUT TYPE='button' class="w3-button w3-indigo" NAME='ButtonFacebook' VALUE='Facebook' 
		   onclick="contador_onclick1()">
		</FORM>

		<FORM NAME=form2>
		   <INPUT TYPE='button' class="w3-button w3-light-blue" NAME='ButtonTwitter' VALUE='Twitter' 
		   onclick="contador_onclick2()">
		</FORM>

		<FORM NAME=form3>
		   <INPUT TYPE='button' class="w3-button w3-red" NAME='ButtonYoutube' VALUE='Youtube' 
		   onclick="contador_onclick3()">
		</FORM>

		<FORM NAME=form4>
			<INPUT TYPE='button' class="w3-button w3-blue-grey" NAME='ButtonLinkedIn' VALUE='LinkedIn' 
			onclick="contador_onclick4()">
		</FORM>

		<FORM NAME=form5>
			<INPUT TYPE='button' class="w3-button w3-deep-orange" NAME='ButtonInstagram' VALUE='Instagram' 
			onclick="contador_onclick5()">
		</FORM>

	</div>

	<div class="w3-container" style="visibility: hidden">

		<FORM NAME=form1>
		   <INPUT TYPE='button' class="w3-button w3-indigo" NAME='ButtonFacebook' VALUE='Facebook' 
		   onclick="contador_onclick1()">
		</FORM>

		<FORM NAME=form2>
		   <INPUT TYPE='button' class="w3-button w3-light-blue" NAME='ButtonTwitter' VALUE='Twitter' 
		   onclick="contador_onclick2()">
		</FORM>

		<FORM NAME=form3>
		   <INPUT TYPE='button' class="w3-button w3-red" NAME='ButtonYoutube' VALUE='Youtube' 
		   onclick="contador_onclick3()">
		</FORM>

		<FORM NAME=form4>
			<INPUT TYPE='button' class="w3-button w3-blue-grey" NAME='ButtonLinkedIn' VALUE='LinkedIn' 
			onclick="contador_onclick4()">
		</FORM>

		<FORM NAME=form5>
			<INPUT TYPE='button' class="w3-button w3-deep-orange" NAME='ButtonInstagram' VALUE='Instagram' 
			onclick="contador_onclick5()">
		</FORM>

	</div>

	<br>
	<label>Ejemplo LABELS</label>
	<label>Seleccione una opción:</label>
    <a href="#" onclick="contador_onclick()" >Facebook</a>
    <a href="#" onclick="contador_onclick()" >Twitter</a>
    <a href="#" onclick="contador_onclick()" >Youtube</a>
    <a href="#" onclick="contador_onclick()" >LinkedIn</a>
    <a href="#" onclick="contador_onclick()" >Instagram</a>

    <br>
    <label>Ejemplo ordenamiento array PHP:</label>
    <?php
		$numeros = array(35, 15, 27, 9, 11, 100);
		echo max($numeros);
	?>
</div>